.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.navbar>ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar > ul > li{
    background-color: red;
    padding: 12px;
}

.navbar > ul > li:not(:last-of-type){
    margin-right: 16px;
}